body{

	background-image: url("images/back.png");
	
}

.Main{
	width:500px;
	height:700px;
	margin-left:28%;
	margin-top:50px;
	background-color: #b15c44;
}
.Main #display{
	
	width:300px;
	height:450px;
	background-color: #000000;
	box-shadow: inset 30px -30px #131313;
	position:relative;
	top:100px;
	left:40px;
	
}
.Main #keyboard{
	width:50px;
	height:350px;
	position:relative;
	left: 400px;
	bottom: 350px;
	
}
.Main #keyboard button{
	width:50px;
	height:50px;
	border-radius:10px;
    background-color: #6d5f18;
	transition: background-color 500ms ease-in;
}
.Main #keyboard #counter{

	width: 50px;
	height: 30px;
	font-size: 20px;
	background-color: #5b993e;

}

.Main #keyboard button:hover{
	background-color: #9a8522;
}


.Main #hole{
	
	width:150px;
	height:80px;
    background-color: #040404;
    box-shadow: inset 30px -30px #131313;
	position:relative;
	left: 120px;
	bottom: 200px;
}

.Main #money_slot{
	width:100px;
	height:10px;
    background-color: #111111;

	position:relative;
	left: 370px;
	bottom: 380px;
}

.Main #card_slot{
	width:100px;
	height:10px;
    background-color: #101010;

	position:relative;
	left: 370px;
	bottom: 360px;
}

.inventory{
    width: 100px;
    height: 200px;
    position: fixed;
    display: block;
    border-radius: 25px;
    background-color: #aaa7f7;
    bottom: 19px;
    right: 19px;
    transition-property: background-color;
    transition: 500ms ease-in;


}
.inventory:hover{

	background-color: #81d453;

}

.inventory #pay{

	width:80px;
	position:relative;
	top:20px;
	left:10px;

}
.inventory #card{

	width:50px;
	height:50px;
	position: relative;
	top:60px;
	left:25px;
	background-image: url("images/card.png");

}
.inventory #cash{

	width:50px;
	height:50px;
	position: relative;
	top:50px;
	left:25px;
	background-image: url("images/cash.png");

}

